<%layout("/layouts/boilerplate") %>
<div class="row">
    <div class="alert alert-primary offset-3 col-6" role="alert">
        This is a primary alert—check it out! <%= err %>
      </div>
</div>
